/**
 * Colors
 */
$accent-color-1:                 #019999;
$accent-color-2:                 #fd5f00;
$white:                          #fff;

$header-top-height: 70px;
$header-bottom-height: 50px;

$space-xs: 5px;
$space: 10px;
$space-sm: 2 * $space;
$space-md: 3 * $space;